.auth-menu {
  #default > .mobile-menu-list();

  .menu-list__item {
    #default > .mobile-menu-item();

    @media @tablet-landscape {
      margin-right: 30px;

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .menu-list__link {
    #default > .mobile-menu-link();
  }
}
