.button {
  display: inline-flex;
  padding: 13px 30px;
  vertical-align: top;
  color: @color-text;
  font-family: @font-main;
  font-size: 13px;
  background-color: #ffffff;
  border: 1px solid @color-secondary;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.15s linear, color 0.15s linear;

  @media @tablet {
    padding: 18px 50px;
    font-size: 14px;
  }

  &:hover,
  &:focus {
    color: @color-text_contrast;
    background-color: @color-secondary;
  }
}
