.button-menu {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  padding: 0;
  font-family: @font-main;
  font-size: 14px;
  line-height: 20px;
  border: none;
  background-color: transparent;
  outline: none;
  text-decoration: none;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 2px;
    background-color: @color-text_contrast;
    transition: transform 0.15s linear, background-color 0.15s linear;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &:hover::before,
  &:focus::before,
  &:hover::after,
  &:focus::after {
    background-color: @color-secondary;
    transition: background-color 0.15s linear;
  }

  &:hover &__line,
  &:focus &__line {
    background-color: @color-secondary;
    transition: background-color 0.15s linear;
  }

  &_state_open::before {
    top: 8px;
    left: -1px;
    transform: rotate(45deg);
    transition: transform 0.15s linear;
  }

  &_state_open::after {
    bottom: 10px;
    left: -1px;
    transform: rotate(-45deg);
    transition: transform 0.15s linear;
  }

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: @color-text_contrast;
    transition: opacity 0.15s linear, background-color 0.15s linear;
  }

  &_state_open &__line {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.15s linear;
  }
}

