.menu-list {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 25px;

    @media @tablet-landscape {
      margin-right: 60px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    position: relative;
    font-size: 14px;
    color: @color-text_contrast;
    text-decoration: none;

    @media @tablet {
      font-size: 16px;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 1px;
      background-color: @color-text_contrast;
      transition: width 0.15s linear;
    }

    &:hover,
    &:focus {
      &::after {
        width: 100%;
      }
    }
  }

  &__item_view_sub-menu &__link {
    position: relative;
    padding-right: 15px;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      width: 10px;
      height: 10px;
      margin-top: -4px;
      background-image: svg-load("@{svg-path}/arrow-down.svg", fill="#ffffff");
      background-position: center;
      background-repeat: no-repeat;
    }
  }
  #default > .reset-indents-list();
}
