.menu {
  &__list {
    #default > .mobile-menu-list();
  }

  &__list .menu-list__item {
    @media @tablet-landscape {
      margin-right: 60px;

      &:last-child {
        margin-right: 0;
      }
    }
    #default > .mobile-menu-item();
  }

  &__list .menu-list__link {
    #default > .mobile-menu-link();
  }

  &__list .menu-list__item_view_sub-menu .menu-list__link {
    padding-right: 30px;

    @media @tablet-landscape {
      padding-right: 15px;

      &::before {
        right: 0;
        background-image: svg-load("@{svg-path}/arrow-down.svg", fill=@color-text_contrast);
      }
    }

    &::before {
      right: 15px;
      background-image: svg-load("@{svg-path}/arrow-down.svg", fill=@color-text);
    }
  }
}
