.partners {
  &__list {
    #default > .reset-indents-list();
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @media @tablet {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  &__item {
    @media @phone-only {
      margin-bottom: 20px;
      padding: 25px;
      border: 1px solid @gray;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media @tablet {
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }

    @media @tablet-landscape {
      margin-right: 35px;
    }
  }

  &__image {
    max-height: 110px;
  }
}
