.social {
  display: flex;
  flex-wrap: wrap;

  &__item {
    margin-right: 20px;

    @media @tablet {
      margin-right: 30px;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: @color-main_lighten;
    transition: background-color 0.15s linear;
    border-radius: 50%;

    @media @tablet {
      width: 50px;
      height: 50px;
    }

    &:hover,
    &:focus {
      background-color: #ffffff;
    }
  }

  &__icon {
    max-width: 55%;
    max-height: 55%;
    fill: @color-text_contrast;
    transition: fill 0.15s linear;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: @color-main;
  }
  #default > .reset-indents-list();
}
