.tile {
  &__list {
    #default > .reset-indents-list();

    @media @tablet {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;

    @media @phone-only {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media @tablet {
      padding-top: 25px;
      padding-right: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
    }

    @media @tablet-only {
      .column-mixin(2, 10px);
    }

    @media @tablet-landscape {
      padding-top: 40px;
      padding-right: 35px;
      padding-left: 35px;
      padding-bottom: 30px;
      .column-mixin(3, 20px);
    }
  }

  &_theme_gray &__item {
    background-color: @gray;
  }

  &__image-container {
    margin-bottom: 15px;
    text-align: center;

    @media @tablet {
      margin-bottom: 20px;
    }

    @media @tablet-landscape {
      margin-bottom: 25px;
    }
  }

  &__image {
    max-width: 65px;
    max-height: 65px;
    fill: @color-secondary;
  }

  &_theme_gray &__image {
    fill: @color-main_light;
  }

  &__slogan {
    #default > .reset-indents();
    margin-bottom: 10px;
    text-align: center;
  }

  &__description {
    #default > .reset-indents();
    margin-bottom: 20px;

    @media @tablet {
      margin-bottom: 25px;
    }

    @media @tablet-landscape {
      margin-bottom: 35px;
    }
  }

  &__footer {
    margin-top: auto;
    text-align: center;
  }

  &__link {
    text-decoration: none;
    transition: color 0.15s linear;

    &:hover,
    &:focus {
      color: @color-main;
    }
  }

  &__button-container {
    margin-top: 20px;
    text-align: center;
  }
}
