<footer class="main-footer">
  <div class="main-footer__container container">
    <div class="main-footer__menu">
      <include src="./src/html/components/secondary-menu.html"></include>
    </div>
    <div class="main-footer__social">
      <include src="./src/html/components/social.html"></include>
    </div>
    <div class="main-footer__copyright">
      <include src="./src/html/components/copyright.html"></include>
    </div>
  </div>
</footer>
