<header class="main-header">
  <div class="main-header__container container">
    <div class="main-header__top">
      <div class="main-header__logo">
        <include src="./src/html/components/logo.html"></include>
      </div>
      <div class="main-header__button-menu">
        <button class="button-menu" type="button">
          <span class="button-menu__line"></span>
          <span class="visually-hidden">Меню</span>
        </button>
      </div>
      <div class="main-header__container-menu">
        <div class="main-header__menu">
          <include src="./src/html/components/menu.html"></include>
        </div>
        <div class="main-header__auth-menu">
          <include src="./src/html/components/auth-menu.html"></include>
        </div>
      </div>
    </div>
    <div class="main-header__bottom">
      <h1 class="main-header__slogan">
        WE SOLVE <br />
        YOUR PROBLEMS
      </h1>
      <p class="main-header__description">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec accumsan velit. Ut gravida
        id sem id sodales. Aenean quis enim dui. Vestibulum ullamcorper vel urna quis congue.
      </p>
    </div>
  </div>
</header>
