<main class="main-page">
  <div class="main-page__container container">
    <div class="main-page__item">
      <h2>Etiam ac nisl ac quam sodales scelerisque elementum quis purus.</h2>
      <include src="./src/html/components/tile-gray.html"></include>
    </div>
    <div class="main-page__item">
      <h2>Etiam ac nisl ac quam sodales scelerisque elementum quis purus.</h2>
      <p>
        Integer bibendum turpis sit amet pretium commodo. Cras justo elit, dapibus at viverra non,
        dapibus vitae est. Morbi facilisis mi non iaculis porttitor. Phasellus a nibh a lacus
        dignissim pharetra. Vivamus ullamcorper finibus mauris, sit amet volutpat enim sollicitudin
        sed.
      </p>
      <include src="./src/html/components/tile.html"></include>
    </div>
    <div class="main-page__item">
      <h2>Wordlwide recognition</h2>
      <p>
        Integer bibendum turpis sit amet pretium commodo. Cras justo elit, dapibus at viverra non,
        dapibus vitae est.
      </p>
      <p>
        Fusce pretium enim sit amet elementum eleifend. Quisque at dui nunc. Curabitur sodales,
        turpis at luctus suscipit, nisl leo dignissim turpis, quis blandit justo nulla sed nisi.
        Vivamus urna eros, malesuada non massa sed, vestibulum maximus dui. Fusce facilisis nunc a
        urna lacinia, nec sagittis felis efficitur. Phasellus commodo porttitor odio, eu commodo
        nisi vehicula ut. Maecenas congue nisi lorem, et maximus ante vestibulum eu. Vivamus non
        imperdiet ex.
      </p>
      <include src="./src/html/components/partners.html"></include>
    </div>
  </div>
</main>
