<ul class="auth-menu menu-list">
  <li class="menu-list__item">
    <a class="menu-list__link" href="#">Login</a>
  </li>
  <li class="menu-list__item">
    <a class="menu-list__link" href="#">Buy Now</a>
  </li>
</ul>
