<nav class="menu">
  <ul class="menu__list menu-list">
    <li class="menu-list__item menu-list__item_view_sub-menu">
      <a class="menu-list__link" href="#">Products</a>
    </li>
    <li class="menu-list__item">
      <a class="menu-list__link" href="#">News & Events</a>
    </li>
    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Support</a>
    </li>
    <li class="menu-list__item">
      <a class="menu-list__link" href="#">Contacts</a>
    </li>
  </ul>
</nav>
