<div class="partners">
  <ul class="partners__list">
    <li class="partners__item">
      <img class="partners__image" src="image/company1.png" alt="Company 1" />
    </li>
    <li class="partners__item">
      <img class="partners__image" src="image/company2.png" alt="Company 2" />
    </li>
    <li class="partners__item">
      <img class="partners__image" src="image/company3.png" alt="Company 3" />
    </li>
    <li class="partners__item">
      <img class="partners__image" src="image/company4.png" alt="Company 4" />
    </li>
    <li class="partners__item">
      <img class="partners__image" src="image/company5.png" alt="Company 5" />
    </li>
  </ul>
</div>
