<ul class="secondary-menu menu-list">
  <li class="menu-list__item">
    <a class="menu-list__link" href="#">PRIVACY POLICY</a>
  </li>
  <li class="menu-list__item">
    <a class="menu-list__link" href="#">ABOUT US</a>
  </li>
  <li class="menu-list__item">
    <a class="menu-list__link" href="#">SUPPORT</a>
  </li>
</ul>
