<ul class="social">
  <li class="social__item">
    <a class="social__link" href="#">
      <svg class="social__icon">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/svg/symbols.svg#facebook"
        ></use>
      </svg>
      <span class="visually-hidden">Facebook</span>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="#">
      <svg class="social__icon">
        <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/symbols.svg#twitter"></use>
      </svg>
      <span class="visually-hidden">Twitter</span>
    </a>
  </li>
  <li class="social__item">
    <a class="social__link" href="#">
      <svg class="social__icon">
        <use
          xmlns:xlink="http://www.w3.org/1999/xlink"
          xlink:href="/svg/symbols.svg#instagram"
        ></use>
      </svg>
      <span class="visually-hidden">Instagram</span>
    </a>
  </li>
</ul>
