<div class="tile">
  <ul class="tile__list">
    <li class="tile__item">
      <div class="tile__image-container">
        <svg class="tile__image">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/svg/symbols.svg#documents"
          ></use>
        </svg>
      </div>
      <h3 class="tile__slogan">Proin felis eros</h3>
      <p class="tile__description">
        Iverra sed eros id, eleifend maximus tortor.
      </p>
      <div class="tile__footer">
        <a class="tile__link" href="#">Learn More</a>
      </div>
    </li>
    <li class="tile__item">
      <div class="tile__image-container">
        <svg class="tile__image">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/symbols.svg#time"></use>
        </svg>
      </div>
      <h3 class="tile__slogan">Suspendisse potenti</h3>
      <p class="tile__description">
        Vestibulum mi risus, aliquam vitae efficitur quis.
      </p>
      <div class="tile__footer">
        <a class="tile__link" href="#">Learn More</a>
      </div>
    </li>
    <li class="tile__item">
      <div class="tile__image-container">
        <svg class="tile__image">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/svg/symbols.svg#folders"
          ></use>
        </svg>
      </div>
      <h3 class="tile__slogan">Fusce pretium enim</h3>
      <p class="tile__description">
        Quisque at dui nunc. Curabitur sodales, turpis at luctus suscipit, nisl leo dignissim
        turpis.
      </p>
      <div class="tile__footer">
        <a class="tile__link" href="#">Learn More</a>
      </div>
    </li>
    <li class="tile__item">
      <div class="tile__image-container">
        <svg class="tile__image">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/svg/symbols.svg#generator"
          ></use>
        </svg>
      </div>
      <h3 class="tile__slogan">Vivamus urna eros</h3>
      <p class="tile__description">
        Fusce facilisis nunc a urna lacinia, nec sagittis felis efficitur. Phasellus commodo
        porttitor odio.
      </p>
      <div class="tile__footer">
        <a class="tile__link" href="#">Learn More</a>
      </div>
    </li>
    <li class="tile__item">
      <div class="tile__image-container">
        <svg class="tile__image">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/symbols.svg#file"></use>
        </svg>
      </div>
      <h3 class="tile__slogan">Maecenas congue nisi</h3>
      <p class="tile__description">
        Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vulputate arcu nisi.
      </p>
      <div class="tile__footer">
        <a class="tile__link" href="#">Learn More</a>
      </div>
    </li>
    <li class="tile__item">
      <div class="tile__image-container">
        <svg class="tile__image">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/svg/symbols.svg#diagram"
          ></use>
        </svg>
      </div>
      <h3 class="tile__slogan">Nullam purus velit</h3>
      <p class="tile__description">
        Praesent ac turpis sit amet ex euismod congue vitae sit amet risus.
      </p>
      <div class="tile__footer">
        <a class="tile__link" href="#">Learn More</a>
      </div>
    </li>
  </ul>
  <div class="tile__button-container">
    <button class="button" type="button">View All Our Products</button>
  </div>
</div>
