<div class="tile tile_theme_gray">
  <ul class="tile__list">
    <li class="tile__item">
      <div class="tile__image-container">
        <svg class="tile__image">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/svg/symbols.svg#microscope"
          ></use>
        </svg>
      </div>
      <h3 class="tile__slogan">Donec efficitur molestie</h3>
      <p class="tile__description">
        Nulla pretium nunc in nulla placerat, sit amet porttitor enim ullamcorper. Curabitur ex
        erat, euismod ac vestibulum vel, viverra non lorem.
      </p>
      <div class="tile__footer">
        <a class="tile__link" href="#">Learn More</a>
      </div>
    </li>
    <li class="tile__item">
      <div class="tile__image-container">
        <svg class="tile__image">
          <use
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xlink:href="/svg/symbols.svg#edifice"
          ></use>
        </svg>
      </div>
      <h3 class="tile__slogan">Mauris interdum venenatis</h3>
      <p class="tile__description">
        Vivamus cursus ante eu orci rutrum, vitae viverra ante dapibus. Vivamus porta molestie
        turpis, quis elementum nisi egestas eget.
      </p>
      <div class="tile__footer">
        <a class="tile__link" href="#">Learn More</a>
      </div>
    </li>
    <li class="tile__item">
      <div class="tile__image-container">
        <svg class="tile__image">
          <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/svg/symbols.svg#home"></use>
        </svg>
      </div>
      <h3 class="tile__slogan">Cras sit amet</h3>
      <p class="tile__description">
        Fusce suscipit, ante at imperdiet vehicula, ex augue feugiat enim, sed faucibus sem tortor
        quis turpis. Mauris lacinia neque id augue efficitur, ut feugiat massa efficitur.
      </p>
      <div class="tile__footer">
        <a class="tile__link" href="#">Learn More</a>
      </div>
    </li>
  </ul>
</div>
