#default {
  .reset-indents {
    margin: 0;
    padding: 0;
  }

  .reset-indents-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .button {
    display: inline-flex;
    font-family: @font-main;
    font-size: 14px;
    line-height: 20px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
  }

  .mobile-menu-list {
    flex-direction: column;

    @media @tablet-landscape {
      flex-direction: row;
    }
  }

  .mobile-menu-item {
    margin-right: 0;
  }

  .mobile-menu-link {
    display: block;
    padding: 15px;
    color: @color-text;
    border-bottom: 1px solid @gray_dark;

    @media @tablet-landscape {
      padding: 0;
      color: @color-text_contrast;
      border-bottom: 0;
    }
  }
}
