.main-footer {
  margin-top: 60px;
  padding-top: 20px;
  padding-bottom: 30px;
  background-color: @color-main;

  @media @tablet {
    margin-top: 90px;
    padding-top: 30px;
    padding-bottom: 40px;
  }

  @media @tablet-landscape {
    margin-top: 120px;
    padding-top: 40px;
    padding-bottom: 50px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  &__menu,
  &__social {
    margin-bottom: 20px;

    @media @tablet {
      margin-bottom: 25px;
    }
  }
}
