.main-header {
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: @color-main;
  background-image: url("../image/main-bg.jpg");
  background-position: top center;

  @media @tablet {
    padding-top: 25px;
    padding-bottom: 80px;
  }

  @media @tablet-landscape {
    padding-bottom: 100px;
    background-size: cover;
  }

  &__top {
    display: flex;
    align-items: center;
    margin-bottom: 40px;

    @media @tablet {
      margin-bottom: 60px;
    }

    @media @tablet-landscape {
      margin-bottom: 95px;
    }
  }

  &__container-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: ~"calc(100% - 60px)";
    max-width: 360px;
    height: 100vh;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: transform 0.15s ease-in;

    @media @tablet-landscape {
      position: static;
      top: auto;
      left: auto;
      display: flex;
      flex-grow: 1;
      width: auto;
      max-width: none;
      height: auto;
      background-color: transparent;
      transform: rotateX(0);
    }

    &_state_open {
      transform: translateX(0);
      transition: transform 0.15s ease-out;
    }
  }

  &__logo {
    margin-right: 30px;

    @media @tablet {
      margin-right: 40px;
    }

    @media @tablet-landscape {
      margin-right: 60px;
    }
  }

  &__menu {
    @media @tablet-landscape {
      margin-right: 30px;
    }
  }

  &__auth-menu {
    @media @tablet-landscape {
      margin-left: auto;
    }
  }

  &__button-menu {
    margin-left: auto;

    @media @tablet-landscape {
      display: none;
    }
  }

  &__slogan,
  &__description {
    #default > .reset-indents();
    color: @color-text_contrast;
    text-align: center;
  }

  &__slogan {
    margin-bottom: 40px;

    @media @tablet {
      margin-bottom: 60px;
    }

    @media @tablet-landscape {
      margin-bottom: 80px;
    }
  }

  &__description {
    font-size: 14px;

    @media @tablet {
      font-size: 16px;
    }

    @media @tablet-landscape {
      font-size: 18px;
    }
  }
}
