.main-page {
  &__item {
    margin-top: 30px;
    margin-bottom: 30px;

    @media @tablet {
      margin-bottom: 40px;
    }

    @media @tablet-landscape {
      margin-top: 80px;
      margin-bottom: 80px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
